# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.apk
*.DS_Store
*.idea/FaceBookLogin.iml
#Java
**/target
**/out
#IDE
.idea/*
!.idea/codeStyles/
!.idea/runConfigurations/
!.idea/inspectionProfiles/
*.iml
